<form [formGroup]="homeForm" style="display: flex;width: 100%; justify-content: center; margin-top: 50px">
  <mat-card class="igi-home-card">
    <mat-card-header class="igi-home-header">
      <mat-card-title>My Sudoku Game</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Please select what kind of game you would like to play
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="igi-home-actions-container">
        <div>
          <h4>Please type your user name</h4>
          <mat-form-field>
            <input matInput placeholder="New usere name" formControlName="user"/>
            <div *ngIf="homeForm.get('user')?.touched && homeForm.get('user')?.invalid" class="igi-form-error">
              Name is required.
            </div>
          </mat-form-field>
          <h4>Please select difficulty</h4>
          <mat-form-field>
            <mat-label>Level of difficulty</mat-label>
            <mat-select formControlName="difficulty" [compareWith]="compareByCode">
              @for (item of levels; track item) {
              <mat-option [value]="item">{{item}}</mat-option>
              }
            </mat-select>
            <div *ngIf="homeForm.get('difficulty')?.touched && homeForm.get('difficulty')?.invalid" class="igi-form-error">
              Please select difficalty level;
            </div>
          </mat-form-field>
        </div>
        <div>
          If you lould like to play alone. Please click here:
          <button mat-button type="button" (click)="navigateToSingleplayer()">Play alone</button>
        </div>
        <div>
          For multiplayer game. Please click here:
          <button mat-button type="button" (click)="navigateToMultiplayer()">Play with frends</button>
        </div>

      </div>
    </mat-card-actions>
  </mat-card>
</form>